.row-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
}

.cardBody {
  padding: 0.5rem;
  background-color: white;
}

.single-card-movie,
.single-card-tv,
.single-card-people,
.single-card-playing{
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: solid black 2px;
  margin-bottom: 5%;
}

.single-card-movie:hover,
.single-card-tv:hover,
.single-card-people:hover,
.single-card-playing:hover{
  transform: scale(1.04);
}

.single-card-movie {
  width: 20%;
}

.single-card-tv {
  width: 19%;
}

.single-card-people {
  width: 19%;
}

.single-card-playing {
  width: 15%;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: large;
  font-weight: bold;
  margin: 4%;
}

@media (max-width: 1024px) {
  .single-card-movie,
  .single-card-tv,
  .single-card-people,
  .single-card-playing,
  .single-card-on-air {
    width: 30%;
  }
}

@media (max-width: 765px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .single-card-movie,
  .single-card-tv,
  .single-card-people,
  .single-card-playing,
  .single-card-on-air {
    width: 70%;
  }

}